---
import { storyblokEditable, renderRichText } from "@storyblok/astro";
import markdownIt from "markdown-it";
import slugify from "slugify";

const { blok } = Astro.props;
const md = markdownIt();
const html = md.render(blok.description);

// const renderedRichText = renderRichText(blok.content);
// console.log("blok - about", blok);
---

<article {...storyblokEditable(blok)}>
  <section
    id="about"
    class="slide section-active"
    data-stellar-background-ratio="0.5"
    style='background: url("/images/grey.png") 0px 693.824px repeat;'
  >
    <div class="container">
      <hgroup>
        <h1>{blok.Title}</h1>
      </hgroup>

      <div class="separator"></div>

      <div class="panes">
        <div class="clearfix">
          <figure class="eight columns">
            <div class="styled">
              <img
                width="432"
                height="427"
                src={blok.image.filename}
                class="attachment-author-thumbnail colorbox-51 wp-post-image"
                alt=""
              />
            </div>
          </figure>
          <div class="eight columns" set:html={html} />
        </div>
      </div>
    </div>
  </section>
</article>
