---
import { storyblokEditable } from "@storyblok/astro";
import slugify from "slugify";

const { blok } = Astro.props;
---

<section
  id="home"
  class="slide section-active"
  data-stellar-background-ratio="0.0"
  style="background-position: 0px 0px;"
>
  <div class="container">
    <div {...storyblokEditable(blok)}>
      <hgroup>
        <h1 style="font-size: 4em;">{blok.headline}</h1>
      </hgroup>
      <!-- <div class="twelve columns offset-by-two clearfix"> -->
      <strong>
        <div class="flexslider clearfix styled">
          <ul class="slides">
            {
              blok.carousel.map((image) => {
                return (
                  <li>
                    <img src={image.filename} />
                  </li>
                );
              })
            }
          </ul>
        </div>
      </strong>
      <!-- </div> -->
      <div class="sixteen columns">
        <h2 style="text-align: center;">
          <b><strong>{blok.subheadline}</strong></b>
        </h2>
        <h2 style="text-align: center;">
          <blockquote style="font-size: 1.5em;">
            {blok.quote}
          </blockquote>
        </h2>
      </div>
    </div>
  </div>
</section>
