<footer>
  <div class="container">
    <div class="seven columns">
      <p id="copyright_info" class="active">
        © 2013-2024 <a href="https://www.katriendanschutter.be/#home">FOrteSia</a>, Alle rechten voorbehouden.
      </p>
    </div>
    <div class="nine columns">
      <ul id="social_icons">
        <li><a href="https://www.facebook.com/FOrtesi"><i class="icon-facebook-sign"></i></a></li>
        <li><a href="https://www.instagram.com/katriendanschutter"><i class="icon-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
