<div class="flex sticky top-0 leading-7 bg-gray-900 justify-between">
  <a href="/" class="pl-5 mt-5 cursor-pointer lg:hidden hover:border-stone-400">
    <img src="leaf.png" width="134" alt="" class="align-middle w-12 inline-block -mb-16 -mt-20 -mt-18" />
  </a>
  <div class="lg:hidden p-4 cursor-pointer text-2xl relative">
    <div class="w-icon-nav-menu text-white"></div>
  </div>
</div>
<div class="hidden top-0 text-white sticky bg-gray-900 lg:flex justify-center">
  <nav class="cursor-pointer py-5 text-sm pl-10 pr-5 uppercase">
    <a
      href="/"
      class="cursor-pointer hover:text-stone-400 px-5 py-5 w-full text-sm text-gray-200 align-top text-left tracking-extraWide"
    >
      Home
    </a>
    <a
      href="/shop"
      class="cursor-pointer hover:text-stone-400 px-5 py-5 w-full text-sm text-gray-200 align-top text-left tracking-extraWide"
    >
      SHOP
    </a>
    <a
      href="/online-courses"
      class="cursor-pointer hover:text-stone-400 px-5 py-5 w-full text-sm text-gray-200 align-top text-left tracking-extraWide"
    >
      COURSES
    </a>
    <a href="/" class="cursor-pointer px-5 py-5 w-full text-sm text-gray-200 align-top text-left tracking-extraWide">
      <img
        src="leaf.png"
        class="inline-block hover:text-stone-400 clear-none relative mx-0 -mt-20 -mb-20 w-12 max-w-full h-auto align-middle border-0 xl:relative xl:m-0 xl:inline-block xl:h-auto"
      />
    </a>
    <a
      href="/about"
      class="cursor-pointer hover:text-stone-400 px-5 py-5 w-full text-sm text-gray-200 align-top text-left tracking-extraWide"
    >
      ABOUT
    </a>
    <a
      href="/connect"
      class="cursor-pointer hover:text-stone-400 px-5 py-5 w-full text-sm text-gray-200 uppercase align-top text-left tracking-extraWide"
    >
      CONNECT
    </a>
  </nav>
</div>
