---
import "../styles/tailwind.css";
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <title>Fortesia</title>
  </head>
  <body class="mx-auto">
    <Header />
    <slot />
  </body>
</html>
