---
import BaseHead, { type Props as HeadProps } from "@/components/BaseHead.astro";
import Header from "../components/Header.astro";
import "../styles/tailwind.css";

export type Props = HeadProps;

const { ...head } = Astro.props;
console.log("head", head);
---

<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body class="">
    <Header />
    <slot />
  </body>
</html>
